<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Using CSS Split Screen Hover Effect</title>

</head>
<body>
	<section>
		<div class="screen">
			<div class="card">
				
				<h2>ABOUT</h2>
				<a href="#">Read More...</a>
				
				<div class="content">
					<div class="imgBox">
						<img src="1.jpg" alt="">
					</div>
					<h2>LOGIN</h2>
					
				</div>
			</div>
		</div>

		<!-- 2 -->
		<div class="screen">
			<div class="card">
				<div class="imgBox">
					<img src="2.jpg" alt="">
				</div>
				<h2>LOGIN</h2>
				<a href="#">Read More...</a>
				
				<div class="content">
					<div class="imgBox">
						<img src="2.jpg" alt="">
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>